body {
	background-color: #F4FCD9;
}

.largeCenterBox {
	width: 390px;
	height: 640px;
	padding: 30px;
	border: 2px solid #534340;
	border-radius: 10px;
	background-color: #C5D8A4;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-family: 'Courier New', monospace;
}

.largeCenterBox h2 {
	margin-top: 5%;
}

.largeCenterBox input[type=text], input[type=password] {
	background-color: #F4FCD9;
	width: 95%;
	height: 2.5em;
	border: 2px solid #534340;
	font-size: 20px;
	letter-spacing: 2px;
	color: #534340;
	padding-left: 10px;
}

button {
	background-color: #BB9981;
	width: 40%;
	height: 3em;
	color: #534340;
	letter-spacing: 2px;
	font-size: 20px;
	border: 2px solid #534340;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #9c7e6a;
}

.largeCenterBox ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.largeCenterBox ul li:first-child {
	text-decoration: underline #362b29 2px;
}

.largeCenterBox li {
	display: inline;
	color: #362b29;
	font-weight: bold;
	cursor: pointer;
}

.largeCenterBox i {
    margin-left: -2.5em;
    cursor: pointer;
}